header {
    background-color: purple;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.topbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
main {
    position: relative;
    top: 42vh;
}

.hero {
    width: 70vw;
}

.bio img {
    position: relative;
    left: 1.5em;
    top: 2em;
    margin-bottom: 3em;
    width: 85%;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    top: 25em;
    padding-bottom: 2em;
}