header {
    background-color: purple;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.topbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.topbar img {
    margin-right: 2em;
}

.apply,.tailored {
    text-decoration: underline;
    text-decoration-color: springgreen;
}

.title {
    text-align: center;
}

.more {
    background-color: springgreen;
    color: #000;
    padding: 1.5em 3em;
}

main {
    position: relative;
    top: 62vh;
}

.hero {
    width: 70vw;
    position: relative;
    top: 6em;
}

.bio img {
    position: relative;
    left: 1.5em;
    top: 2em;
    margin-bottom: 3em;
    width: 85%;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 31em;
    padding-bottom: 2em;
}

.logo-footer {
    position: relative;
    right: 1em;
}

.social {
    margin-top: 1.5em;
}

.social img {
    margin-right: 2em;
top: 1em;
}

.bio-txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 4.8em;
    color: #fff;
    background-color: blueviolet;
    padding-bottom: 5em;
}

.bio-txt p {
    width: 7    5%;
    text-align: center;
}

.bio-txt button {
    position: relative;
    top: 2em;
    background-color: springgreen;
    color: #000;
    padding: 1.5em 3em;
}

.num {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 50%;
    padding: 0.5em;
    width: 5%;
}

.insights,.data,.affordable {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}