header {
    background-color: purple;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.topbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.hero {
    width: 70vw;
}

.bio img {
    margin-left: 1.5em;
    margin-top: 2em;
    margin-bottom: 3em;
    width: 85%;
}

.insights {
    margin-top: 45vh;
}